HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

*.properties

/src/main/resources/application.properties
/htmlReport/img/arrowDown.gif
/htmlReport/img/arrowUp.gif
/htmlReport/css/coverage.css
/htmlReport/js/highlight.min.js
/htmlReport/js/highlightjs-line-numbers.min.js
/htmlReport/css/idea.min.css
/htmlReport/ns-1/index.html
/htmlReport/ns-2/index.html
/htmlReport/ns-3/index.html
/htmlReport/ns-4/index.html
/htmlReport/ns-5/index.html
/htmlReport/ns-6/index.html
/htmlReport/ns-7/index.html
/htmlReport/ns-8/index.html
/htmlReport/ns-9/index.html
/htmlReport/ns-a/index.html
/htmlReport/index.html
/htmlReport/ns-1/index_SORT_BY_BLOCK.html
/htmlReport/ns-2/index_SORT_BY_BLOCK.html
/htmlReport/ns-3/index_SORT_BY_BLOCK.html
/htmlReport/ns-4/index_SORT_BY_BLOCK.html
/htmlReport/ns-5/index_SORT_BY_BLOCK.html
/htmlReport/ns-6/index_SORT_BY_BLOCK.html
/htmlReport/ns-7/index_SORT_BY_BLOCK.html
/htmlReport/ns-8/index_SORT_BY_BLOCK.html
/htmlReport/ns-9/index_SORT_BY_BLOCK.html
/htmlReport/ns-a/index_SORT_BY_BLOCK.html
/htmlReport/index_SORT_BY_BLOCK.html
/htmlReport/ns-1/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-2/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-3/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-4/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-5/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-6/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-7/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-8/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-9/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-a/index_SORT_BY_BLOCK_DESC.html
/htmlReport/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-1/index_SORT_BY_CLASS.html
/htmlReport/ns-2/index_SORT_BY_CLASS.html
/htmlReport/ns-3/index_SORT_BY_CLASS.html
/htmlReport/ns-4/index_SORT_BY_CLASS.html
/htmlReport/ns-5/index_SORT_BY_CLASS.html
/htmlReport/ns-6/index_SORT_BY_CLASS.html
/htmlReport/ns-7/index_SORT_BY_CLASS.html
/htmlReport/ns-8/index_SORT_BY_CLASS.html
/htmlReport/ns-9/index_SORT_BY_CLASS.html
/htmlReport/ns-a/index_SORT_BY_CLASS.html
/htmlReport/index_SORT_BY_CLASS.html
/htmlReport/ns-1/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-2/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-3/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-4/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-5/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-6/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-7/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-8/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-9/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-a/index_SORT_BY_CLASS_DESC.html
/htmlReport/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-1/index_SORT_BY_LINE.html
/htmlReport/ns-2/index_SORT_BY_LINE.html
/htmlReport/ns-3/index_SORT_BY_LINE.html
/htmlReport/ns-4/index_SORT_BY_LINE.html
/htmlReport/ns-5/index_SORT_BY_LINE.html
/htmlReport/ns-6/index_SORT_BY_LINE.html
/htmlReport/ns-7/index_SORT_BY_LINE.html
/htmlReport/ns-8/index_SORT_BY_LINE.html
/htmlReport/ns-9/index_SORT_BY_LINE.html
/htmlReport/ns-a/index_SORT_BY_LINE.html
/htmlReport/index_SORT_BY_LINE.html
/htmlReport/ns-1/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-2/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-3/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-4/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-5/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-6/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-7/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-8/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-9/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-a/index_SORT_BY_LINE_DESC.html
/htmlReport/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-1/index_SORT_BY_METHOD.html
/htmlReport/ns-2/index_SORT_BY_METHOD.html
/htmlReport/ns-3/index_SORT_BY_METHOD.html
/htmlReport/ns-4/index_SORT_BY_METHOD.html
/htmlReport/ns-5/index_SORT_BY_METHOD.html
/htmlReport/ns-6/index_SORT_BY_METHOD.html
/htmlReport/ns-7/index_SORT_BY_METHOD.html
/htmlReport/ns-8/index_SORT_BY_METHOD.html
/htmlReport/ns-9/index_SORT_BY_METHOD.html
/htmlReport/ns-a/index_SORT_BY_METHOD.html
/htmlReport/index_SORT_BY_METHOD.html
/htmlReport/ns-1/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-2/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-3/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-4/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-5/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-6/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-7/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-8/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-9/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-a/index_SORT_BY_METHOD_DESC.html
/htmlReport/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-1/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-2/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-3/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-4/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-5/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-6/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-7/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-8/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-9/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-a/index_SORT_BY_NAME_DESC.html
/htmlReport/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-1/sources/source-1.html
/htmlReport/ns-2/sources/source-1.html
/htmlReport/ns-3/sources/source-1.html
/htmlReport/ns-4/sources/source-1.html
/htmlReport/ns-5/sources/source-1.html
/htmlReport/ns-6/sources/source-1.html
/htmlReport/ns-7/sources/source-1.html
/htmlReport/ns-8/sources/source-1.html
/htmlReport/ns-9/sources/source-1.html
/htmlReport/ns-a/sources/source-1.html
/htmlReport/ns-2/sources/source-2.html
/htmlReport/ns-3/sources/source-2.html
/htmlReport/ns-4/sources/source-2.html
/htmlReport/ns-5/sources/source-2.html
/htmlReport/ns-6/sources/source-2.html
/htmlReport/ns-8/sources/source-2.html
/htmlReport/ns-9/sources/source-2.html
/htmlReport/ns-a/sources/source-2.html
/htmlReport/ns-3/sources/source-3.html
/htmlReport/ns-4/sources/source-3.html
/htmlReport/ns-5/sources/source-3.html
/htmlReport/ns-6/sources/source-3.html
/htmlReport/ns-8/sources/source-3.html
/htmlReport/ns-9/sources/source-3.html
/htmlReport/ns-a/sources/source-3.html
/htmlReport/ns-3/sources/source-4.html
/htmlReport/ns-4/sources/source-4.html
/htmlReport/ns-5/sources/source-4.html
/htmlReport/ns-6/sources/source-4.html
/htmlReport/ns-8/sources/source-4.html
/htmlReport/ns-9/sources/source-4.html
/htmlReport/ns-a/sources/source-4.html
/htmlReport/ns-3/sources/source-5.html
/htmlReport/ns-4/sources/source-5.html
/htmlReport/ns-5/sources/source-5.html
/htmlReport/ns-6/sources/source-5.html
/htmlReport/ns-8/sources/source-5.html
/htmlReport/ns-9/sources/source-5.html
/htmlReport/ns-a/sources/source-5.html
/htmlReport/ns-3/sources/source-6.html
/htmlReport/ns-4/sources/source-6.html
/htmlReport/ns-5/sources/source-6.html
/htmlReport/ns-6/sources/source-6.html
/htmlReport/ns-9/sources/source-6.html
/htmlReport/ns-a/sources/source-6.html
/htmlReport/ns-3/sources/source-7.html
/htmlReport/ns-4/sources/source-7.html
/htmlReport/ns-5/sources/source-7.html
/htmlReport/ns-6/sources/source-7.html
/htmlReport/ns-9/sources/source-7.html
/htmlReport/ns-a/sources/source-7.html
/htmlReport/ns-4/sources/source-8.html
/htmlReport/ns-5/sources/source-8.html
/htmlReport/ns-6/sources/source-8.html
/htmlReport/ns-9/sources/source-8.html
/htmlReport/ns-a/sources/source-8.html
/htmlReport/ns-4/sources/source-9.html
/htmlReport/ns-5/sources/source-9.html
/htmlReport/ns-6/sources/source-9.html
/htmlReport/ns-9/sources/source-9.html
/htmlReport/ns-a/sources/source-9.html
/htmlReport/ns-4/sources/source-a.html
/htmlReport/ns-5/sources/source-a.html
/htmlReport/ns-6/sources/source-a.html
/htmlReport/ns-a/sources/source-a.html
/htmlReport/ns-4/sources/source-b.html
/htmlReport/ns-5/sources/source-b.html
/htmlReport/ns-6/sources/source-b.html
/htmlReport/ns-a/sources/source-b.html
/htmlReport/ns-4/sources/source-c.html
/htmlReport/ns-5/sources/source-c.html
/htmlReport/ns-4/sources/source-d.html
/htmlReport/ns-5/sources/source-d.html
/htmlReport/ns-4/sources/source-e.html
